<div class="container mt-5">
  <div class="card text-center" style="padding: 20px;">
    <h1>You are not allowed to access this page</h1>
  </div>
  <!-- <div>
    <input
    type="file"
    class="form-control"  (change)="onImageSelected($event)" name="image"
    id="small-input"
    class="block w-[50%] p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
  </div> -->
</div>


