

    <div>
      <div class="content">
        <!-- <img src="/images/banner.png" alt=""> -->

        <div class="description">
          <div class="d-flex align-items-center " style="justify-content: space-between; -webkit-box-pack: justify; height: 100%;gap: 0rem;">
            <div>
              <div class="description_content">
                <h1  data-tag="h2" >Bệnh viện - Bác sĩ - Dịch vụ y tế: Đặt hẹn khám ngay hôm nay</h1>
                <span class=""><span>
                  <p class=" " data-size="p3" data-type="regular">Trải nghiệm tính năng đặt khám trực tuyến tại các Bệnh viện, Phòng khám, Bác sĩ chuyên khoa và Dịch vụ y tế uy tín hoàn toàn miễn phí với TeleMediConnect ngay hôm nay!</p>

                  </span></span>
              </div>
              <div class="booking__search__bar">
                <div class="d-flex " style="gap: 16px;">
                  <div class="location" style="/* flex: 1 1 0%; */position: relative;">
                    <div style="width: 100%; position: relative;">
                      <div  style="position: relative;">
                        <input class="location__input" name="search-location" type="text" aria-label="text"  placeholder="Nhập tỉnh thành" value="Đà Nẵng">
                        <div class="location_icon">
                          <svg width="14" height="20" viewBox="0 0 14 20" class="location-pin-icon"><path d="M7 0C3.134 0 0 3.134 0 7C0 10.966 4.404 16.82 6.226 19.071C6.626 19.565 7.374 19.565 7.774 19.071C9.596 16.82 14 10.966 14 7C14 3.134 10.866 0 7 0ZM7 9.5C5.619 9.5 4.5 8.381 4.5 7C4.5 5.619 5.619 4.5 7 4.5C8.381 4.5 9.5 5.619 9.5 7C9.5 8.381 8.381 9.5 7 9.5Z" fill="#8c8c8c"></path></svg>
                        </div>
                        <div class="location_icon_delete">
                          <svg class="sc-idnGQK cgSCjw shown" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" y="4" width="16" height="16" rx="8" fill="white"></rect><path fill-rule="evenodd" clip-rule="evenodd" d="M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM8.29289 8.29289C8.68342 7.90237 9.31658 7.90237 9.70711 8.29289L12 10.5858L14.2929 8.29289C14.6834 7.90237 15.3166 7.90237 15.7071 8.29289C16.0976 8.68342 16.0976 9.31658 15.7071 9.70711L13.4142 12L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L12 13.4142L9.70711 15.7071C9.31658 16.0976 8.68342 16.0976 8.29289 15.7071C7.90237 15.3166 7.90237 14.6834 8.29289 14.2929L10.5858 12L8.29289 9.70711C7.90237 9.31658 7.90237 8.68342 8.29289 8.29289Z" fill="#bfbfbf"></path></svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="search__doctor" style="position: relative; flex: 2 1 0%;">
                    <div class="search__doctor__input" >
                      <div style="position: relative;">
                        <input class="search__results__doctor" id="search-results" name="search-results" type="text" aria-label="text" autocomplete="off" inputmode="text" pattern=".*" data-event-category="Care" data-event-action="Search Click" data-event-label="https://hellobacsi.com/" placeholder="Tìm kiếm với tên Bác sĩ" value="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="d-flex img__subtitles">
              <img src="/images/Doctor-Care.jpg" class="description_banner" alt="">
            </div> -->
          </div>
        </div>

      </div>
      <div class="container">
        <div class="menu__wrapper">
          <a href="" class="categories">
            <img src="https://hhg-common.hellobacsi.com/common/nav-icons/discover.svg" alt="" class="categories__images">
            <p class="mb-0">Chuyên mục hôm nay</p>
          </a>
          <a href="" class="categories">
            <img src="https://hhg-common.hellobacsi.com/common/nav-icons/care.svg" alt="" class="categories__images">
            <p class="mb-0">Đặt lịch hẹn</p>
          </a>
          <a href="" class="categories">
            <img src="https://hhg-common.hellobacsi.com/common/nav-icons/health-tools.svg" alt="" class="categories__images">
            <p class="mb-0">Kiểm tra sức khoẻ</p>
          </a>
          <a href="" class="categories">
            <img src="https://hhg-common.hellobacsi.com/common/nav-icons/shop.svg" alt="" class="categories__images">
            <p class="mb-0">Cửa hàng</p>
          </a>
          <a href="" class="categories">
            <img src="https://hhg-common.hellobacsi.com/common/nav-icons/community.svg" alt="" class="categories__images">
            <p class="mb-0">Cộng đồng</p>
          </a>
        </div>
        <div class="post">
          <div class="post_right w-7/12">
            <img src="https://cdn.hellobacsi.com/wp-content/uploads/2022/04/nhung-dau-hieu-thai-yeu.jpg?w=1920&q=75" alt="" class="w-100">
            <div  class="w-100 mt-2" >
              <p class="font-bold text-pink-400 mt-2">Vấn đề sức khoẻ khi mang thai</p>
            <h4 class="w-100 mt-2"> Các dấu hiệu cảnh báo thai kỳ diễn biến bất lợi, cảnh báo biến chứng thai kỳ không nên bỏ qua</h4>
            <p class="mt-2">
              Sức khỏe của mẹ bầu và sự phát triển của thai nhi là những mối quan tâm lớn trong thai kỳ. Trên thực tế, hầu hết các vấn đề sức khỏe khi mang thai là phổ biến và đều ở mức độ nhẹ.Tuy nhiên, một số trường hợp xuất hiện các dấu hiệu cảnh báo […]
            </p>
            </div>

          </div>
          <div class="post__left__1 w-5/12">
            <img src="https://cdn.hellobacsi.com/wp-content/uploads/2023/08/hanh-trang-cho-be-vao-lop-1.jpg?w=1920&q=75" alt="" class="w-100">
            <div  class="w-100 mt-0.5" >
              <p class="font-bold text-pink-400 mb-0 mt-2 text-[14px]">Vấn đề sức khoẻ khi mang thai</p>
            <h5 class="w-100 mt-0.5"> Các dấu hiệu cảnh báo thai kỳ diễn biến bất lợi, cảnh báo biến chứng thai kỳ không nên bỏ qua</h5>
            <div class="post__left__2 flex mt-6">
              <div class="pl__2_content w-6/12">
                <p class="font-bold text-pink-400 mb-0 text-[14px]">Vấn đề sức khoẻ khi mang thai</p>
              <h5 class="w-100 mt-2"> Các dấu hiệu cảnh báo thai kỳ diễn biến bất lợi, cảnh báo biến chứng thai kỳ không nên bỏ qua</h5>
              </div>
              <div class="pl__2__img w-6/12 ">
              <img src="https://cdn.hellobacsi.com/wp-content/uploads/2023/08/hanh-trang-cho-be-vao-lop-1.jpg?w=1920&q=75" alt="" class="w-100">

              </div>
            </div>
            </div>
          </div>


        </div>
        <div class="centalPoint">
          <div class="centalPoint__content">
            <div class="centalPoint__title mt-5">
              <h4>Tâm điểm</h4>

            </div>
            <div class="centalPoint__menu centalPoint__content">
              <a href="" class="centalPoint__menu__grid">
                <img  src="https://cdn.hellobacsi.com/wp-content/uploads/2023/02/HB_3.png" alt="">
              </a>
              <a href="" class="centalPoint__menu__grid">
                <img src="https://cdn.hellobacsi.com/wp-content/uploads/2023/02/HB_3.png" alt="">
              </a>
              <a href="" class="centalPoint__menu__grid">
                <img src="https://cdn.hellobacsi.com/wp-content/uploads/2023/02/HB_3.png" alt="">
              </a>
              <a href="" class="centalPoint__menu__grid">
                <img src="https://cdn.hellobacsi.com/wp-content/uploads/2023/02/HB_3.png" alt="">
              </a>

            </div>
          </div>
        </div>
        <div class="relativeCategoties centalPoint__content">
          <div class="centalPoint__title mt-5">
            <h3 class="text-black">Các chuyên mục liên quan</h3>
          </div>
          <div class="relativeCategoties__menu flex gap-[24px]">
            <a href="" class="relativeCategoties__menu__wrapper">
              <div class="relativeCategoties__menu__banner h-[63px] min-h-[102px]  mt-[10px]">
                <img class="object-contain" src="https://cdn.hellobacsi.com/wp-content/uploads/2021/03/Oral-Health.png" alt="">
              </div>
              <div class="relativeCategoties__menu__content mt-[10px]">
                <p class="font-bold text-black">Sức khoẻ răng miệng</p>
              </div>
            </a>
            <a href="" class="relativeCategoties__menu__wrapper">
              <div class="relativeCategoties__menu__banner h-[63px]  min-h-[102px] mt-[10px]">
                <img class="object-contain" src="https://cdn.hellobacsi.com/wp-content/uploads/2021/03/Oral-Health.png" alt="">
              </div>
              <div class="relativeCategoties__menu__content mt-[10px]">
                <p class="font-bold text-black">Sức khoẻ răng miệng</p>
              </div>
            </a>
            <a href="" class="relativeCategoties__menu__wrapper">
              <div class="relativeCategoties__menu__banner h-[63px] min-h-[102px] mt-[10px]">
                <img class="object-contain" src="https://cdn.hellobacsi.com/wp-content/uploads/2021/03/Oral-Health.png" alt="">
              </div>
              <div class="relativeCategoties__menu__content mt-[10px]">
                <p class="font-bold text-black">Sức khoẻ răng miệng</p>
              </div>
            </a>
            <a href="" class="relativeCategoties__menu__wrapper">
              <div class="relativeCategoties__menu__banner h-[63px] min-h-[102px] mt-[10px]">
                <img class="object-contain" src="https://cdn.hellobacsi.com/wp-content/uploads/2021/03/Oral-Health.png" alt="">
              </div>
              <div class="relativeCategoties__menu__content mt-[10px]">
                <p class="font-bold text-black">Sức khoẻ răng miệng</p>
              </div>
            </a>
            <a href="" class="relativeCategoties__menu__wrapper">
              <div class="relativeCategoties__menu__banner h-[63px] min-h-[102px] mt-[10px]">
                <img class="object-contain" src="https://cdn.hellobacsi.com/wp-content/uploads/2021/03/Oral-Health.png" alt="">
              </div>
              <div class="relativeCategoties__menu__content mt-[10px]">
                <p class="font-bold text-black">Sức khoẻ răng miệng</p>
              </div>
            </a>
            <a href="" class="relativeCategoties__menu__wrapper">
              <div class="relativeCategoties__menu__banner h-[63px] min-h-[102px] mt-[10px]">
                <img class="object-contain" src="https://cdn.hellobacsi.com/wp-content/uploads/2021/03/Oral-Health.png" alt="">
              </div>
              <div class="relativeCategoties__menu__content mt-[10px]">
                <p class="font-bold text-black">Sức khoẻ răng miệng</p>

              </div>
            </a>

          </div>
        </div>
        <div class="aboutMyWeb mt-[24px] centalPoint__content  w-100 justify-center text-center">
          <div class="aboutWeb justify-center">
            <h3>
              Hello Bacsi đem đến thông tin sức khỏe mà bạn cần
            </h3>
          </div>
          <div class="aboutMyWeb_content mt-5 flex gap-[24px]">
            <div class="aboutMyWeb_menu">
              <img src="https://cdn.hellobacsi.com/wp-content/uploads/2022/06/Research.png" alt="">
              <div class="aboutMyWeb_des">
                <h5>Dựa trên nguồn thông tin xác thực</h5>
                <p>Tất cả bài viết của Hello Bacsi đều được viết dựa trên những tin tức y khoa, nghiên cứu và báo cáo khoa học đến từ các tổ chức giáo dục, y tế hàng đầu.</p>
              </div>
            </div>
            <div class="aboutMyWeb_menu">
              <img src="https://cdn.hellobacsi.com/wp-content/uploads/2022/06/Research.png" alt="">
              <div class="aboutMyWeb_des">
                <h5>Dựa trên nguồn thông tin xác thực</h5>
                <p>Tất cả bài viết của Hello Bacsi đều được viết dựa trên những tin tức y khoa, nghiên cứu và báo cáo khoa học đến từ các tổ chức giáo dục, y tế hàng đầu.</p>
              </div>
            </div>
            <div class="aboutMyWeb_menu">
              <img src="https://cdn.hellobacsi.com/wp-content/uploads/2022/06/Research.png" alt="">
              <div class="aboutMyWeb_des">
                <h5>Dựa trên nguồn thông tin xác thực</h5>
                <p>Tất cả bài viết của Hello Bacsi đều được viết dựa trên những tin tức y khoa, nghiên cứu và báo cáo khoa học đến từ các tổ chức giáo dục, y tế hàng đầu.</p>
              </div>
            </div>
            <div class="aboutMyWeb_menu">
              <img src="https://cdn.hellobacsi.com/wp-content/uploads/2022/06/Research.png" alt="">
              <div class="aboutMyWeb_des">
                <h5>Dựa trên nguồn thông tin xác thực</h5>
                <p>Tất cả bài viết của Hello Bacsi đều được viết dựa trên những tin tức y khoa, nghiên cứu và báo cáo khoa học đến từ các tổ chức giáo dục, y tế hàng đầu.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>





