<div style="display:contents">
    <footer class="Lj0qoTD ">
        <div class="d76E4SH ">
            <div class="inner" data-type="main">
                <a href="/">
                    <h1>Telemedicine Conection</h1>
                </a>
                <div class="columns">
                    <div class="newsletter">
                        <p data-size="p1" data-type="bold" class="wIj6fkD ">
                            Telemedicine Conection mong muốn trở thành nền tảng thông tin y khoa hàng đầu tại Việt Nam,
                            giúp bạn đưa ra những quyết định đúng đắn liên quan về chăm sóc sức khỏe và hỗ trợ
                            bạn cải thiện chất lượng cuộc sống.
                        </p>
                        <button class="ITgol3T signupButton" data-size="lg" data-color="primary" data-theme="helloSites" data-is-loading="false">
                            <span class="fAwTdkg">
                                <span class="S2kaD9B">Đăng ký ngay</span>
                            </span>
                        </button>
                        <div class="social">
                            <p data-size="sm" data-type="regular" class="wIj6fkD ">Kết nối với chúng tôi</p>
                            <div class="icons">
                                <a data-event-category="Footer" data-event-action="Follow us - Facebook" data-content-label="https://www.facebook.com/hellobacsi/" href="https://www.facebook.com/hellobacsi/">
                                    <img loading="lazy" data-event-category="Footer" data-event-action="Follow us - Facebook" data-content-label="https://www.facebook.com/hellobacsi/" src="/image/Facebook.webp" alt="Logo Social" class="social-icon">
                                </a>
                                <a data-event-category="Footer" data-event-action="Follow us - Instagram" data-content-label="https://www.instagram.com/hellobacsi/" href="https://www.instagram.com/hellobacsi/">
                                    <img loading="lazy" data-event-category="Footer" data-event-action="Follow us - Instagram" data-content-label="https://www.instagram.com/hellobacsi/" src="/image/Facebook.webp" alt="Logo Social" class="social-icon">
                                </a>
                                <a data-event-category="Footer" data-event-action="Follow us - Linkedin" data-content-label="https://vn.linkedin.com/company/hellobacsi?trk=similar-pages" href="https://vn.linkedin.com/company/hellobacsi?trk=similar-pages">
                                    <img loading="lazy" data-event-category="Footer" data-event-action="Follow us - Linkedin" data-content-label="https://vn.linkedin.com/company/hellobacsi?trk=similar-pages" src="/image/Facebook.webp" alt="Logo Social" class="social-icon">
                                </a>
                                <a data-event-category="Footer" data-event-action="Follow us - Youtube" data-content-label="https://www.youtube.com/channel/UCYHzHDXngnB7jkmcQgXwE0w" href="https://www.youtube.com/channel/UCYHzHDXngnB7jkmcQgXwE0w">
                                    <img loading="lazy" data-event-category="Footer" data-event-action="Follow us - Youtube" data-content-label="https://www.youtube.com/channel/UCYHzHDXngnB7jkmcQgXwE0w" src="/image/Facebook.webp" alt="Logo Social" class="social-icon">
                                </a>
                            </div>
                            <hr class="hrMobile">
                        </div>
                    </div>
                    <div class = "biggest-link">
                        <div class="biglinks">
                            <a data-event-category="Footer" data-event-action="Chuyên đề sức khỏe" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/" class="bigLink" href="https://hellobacsi.com/">Chuyên đề sức khỏe</a>
                            <a data-event-category="Footer" data-event-action="Kiểm tra sức khỏe" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/health-tools" class="bigLink" href="https://hellobacsi.com/health-tools">Kiểm tra sức khỏe</a>
                            <a data-event-category="Footer" data-event-action="Tìm bệnh viện " data-event-label="https://hellobacsi.comhttps://hellobacsi.com/care/" class="bigLink" href="https://hellobacsi.com/care/">Tìm bệnh viện </a>
                            <a data-event-category="Footer" data-event-action="Cộng đồng" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/community" class="bigLink" href="https://hellobacsi.com/community">Cộng đồng</a>
                            <a data-event-category="Footer" data-event-action="Cửa hàng" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/shop" class="bigLink" href="https://hellobacsi.com/shop">Cửa hàng</a>
                        </div>
                        <hr class="hrMobile">
                        <div class="mHalf">
                            <p data-size="sm" data-type="regular" class="wIj6fkD linkTitle">Thông tin</p>
                            <a data-event-category="Footer" data-event-action=" Điều khoản sử dụng" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/dieu-khoan-su-dung/" class="link" href="https://hellobacsi.com/static/dieu-khoan-su-dung/">
                                <p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action=" Điều khoản sử dụng" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/dieu-khoan-su-dung/"> Điều khoản sử dụng</p>
                            </a>
                            <a data-event-category="Footer" data-event-action="Chính sách Quyền riêng tư" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/chinh-sach-quyen-rieng-tu/" class="link" href="https://hellobacsi.com/static/chinh-sach-quyen-rieng-tu/">
                                <p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action="Chính sách Quyền riêng tư" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/chinh-sach-quyen-rieng-tu/">Chính sách Quyền riêng tư</p>
                            </a>
                            <a data-event-category="Footer" data-event-action="Chính sách Biên tập và Chỉnh sửa" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/chinh-sach-bien-tap-chinh-sua/" class="link" href="https://hellobacsi.com/static/chinh-sach-bien-tap-chinh-sua/">
                                <p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action="Chính sách Biên tập và Chỉnh sửa" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/chinh-sach-bien-tap-chinh-sua/">Chính sách Biên tập và Chỉnh sửa</p>
                            </a>
                            <a data-event-category="Footer" data-event-action="Chính sách Quảng cáo và Tài trợ" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/chinh-sach-quang-cao-tai-tro/" class="link" href="https://hellobacsi.com/static/chinh-sach-quang-cao-tai-tro/">
                                <p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action="Chính sách Quảng cáo và Tài trợ" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/chinh-sach-quang-cao-tai-tro/">Chính sách Quảng cáo và Tài trợ</p>
                            </a>
                            <a data-event-category="Footer" data-event-action="Câu hỏi thường gặp" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/thong-tin-quan-trong/" class="link" href="https://hellobacsi.com/static/thong-tin-quan-trong/">
                                <p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action="Câu hỏi thường gặp" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/thong-tin-quan-trong/">Câu hỏi thường gặp</p>
                            </a>
                            <a data-event-category="Footer" data-event-action="Tiêu chuẩn cộng đồng" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/tieu-chuan-cong-dong/" class="link" href="https://hellobacsi.com/static/tieu-chuan-cong-dong/">
                                <p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action="Tiêu chuẩn cộng đồng" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/tieu-chuan-cong-dong/">Tiêu chuẩn cộng đồng</p>
                            </a>
                            <a data-event-category="Footer" data-event-action="Quy định đặt lịch bác sĩ và mua hàng" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/quy-dinh-dat-lich-bac-si-va-mua-hang/" class="link" href="https://hellobacsi.com/static/quy-dinh-dat-lich-bac-si-va-mua-hang/">
                                <p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action="Quy định đặt lịch bác sĩ và mua hàng" data-event-label="https://hellobacsi.comhttps://hellobacsi.com/static/quy-dinh-dat-lich-bac-si-va-mua-hang/">Quy định đặt lịch bác sĩ và mua hàng</p>
                            </a>
                        </div>
                        <div class="mHalf">
                            <p data-size="sm" data-type="regular" class="wIj6fkD linkTitle">Hello Health</p><a data-event-category="Footer" data-event-action="Tự giới thiệu" data-event-label="https://hellobacsi.com/about-us/" class="link" href="https://hellobacsi.com/about-us/
                            "><p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action="Tự giới thiệu" data-event-label="https://hellobacsi.com/about-us/">Tự giới thiệu</p>
                        </a>
                        <a data-event-category="Footer" data-event-action="Ban điều hành" data-event-label="https://hellohealthgroup.com/vietnam/" class="link" href="https://hellohealthgroup.com/vietnam/">
                            <p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action="Ban điều hành" data-event-label="https://hellohealthgroup.com/vietnam/">Ban điều hành</p>
                        </a>
                        <a data-event-category="Footer" data-event-action="Tuyển dụng" data-event-label="https://hellohealthgroup.com/careers/" class="link" href="https://hellohealthgroup.com/careers/">
                            <p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action="Tuyển dụng" data-event-label="https://hellohealthgroup.com/careers/">Tuyển dụng</p>
                        </a>
                        <a data-event-category="Footer" data-event-action="Quảng cáo" data-event-label="https://hellobacsi.com/static/quang-cao-voi-chung-toi/" class="link" href="https://hellobacsi.com/static/quang-cao-voi-chung-toi/">
                            <p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action="Quảng cáo" data-event-label="https://hellobacsi.com/static/quang-cao-voi-chung-toi/">Quảng cáo</p>
                        </a>
                        <a data-event-category="Footer" data-event-action="Liên hệ " data-event-label="https://hellobacsi.com/static/lien-he/" class="link" href="https://hellobacsi.com/static/lien-he/"><p data-size="sm" data-type="regular" class="wIj6fkD " data-event-category="Footer" data-event-action="Liên hệ " data-event-label="https://hellobacsi.com/static/lien-he/">Liên hệ </p>
                        </a>
                    </div>
                    <hr class="hrMobile">
                    <div class="otherSites">
                        <p data-size="sm" data-type="regular" class="wIj6fkD linkTitle">Khám phá những trang khác thuộc tập đoàn Hello Health Group</p>
                        <div class="flags">
                            <a class="link" href="https://hellosehat.com/" data-event-category="Footer" data-event-action="HelloSehat" data-event-label="https://hellosehat.com/">
                                <div class="OO-qFWT" data-is-mobile="false">
                                    <img loading="lazy" class="country-flag" src="/image/cờ 1.webp" alt="Country Flag" data-event-category="Footer" data-event-action="HelloSehat" data-content-label="https://hellosehat.com/">
                                </div>
                            </a>
                            <a class="link" href="https://hellokhunmor.com/" data-event-category="Footer" data-event-action="HelloKhunmor" data-event-label="https://hellokhunmor.com/">
                                <div class="OO-qFWT" data-is-mobile="false">
                                    <img loading="lazy" class="country-flag" src="/image/cờ 1.webp" alt="Country Flag" data-event-category="Footer" data-event-action="HelloKhunmor" data-content-label="https://hellokhunmor.com/">
                                </div>
                            </a>
                            <a class="link" href="https://hellodoktor.com/" data-event-category="Footer" data-event-action="HelloDoktor" data-event-label="https://hellodoktor.com/">
                                <div class="OO-qFWT" data-is-mobile="false">
                                    <img loading="lazy" class="country-flag" src="/image/cờ 1.webp" alt="Country Flag" data-event-category="Footer" data-event-action="HelloDoktor" data-content-label="https://hellodoktor.com/">
                                </div>
                            </a>
                            <a class="link" href="https://hellokrupet.com/" data-event-category="Footer" data-event-action="HelloKrupet" data-event-label="https://hellokrupet.com/">
                                <div class="OO-qFWT" data-is-mobile="false">
                                    <img loading="lazy" class="country-flag" src="/image/cờ 1.webp" alt="Country Flag" data-event-category="Footer" data-event-action="HelloKrupet" data-content-label="https://hellokrupet.com/">
                                </div>
                            </a>
                            <a class="link" href="https://helloyishi.com.tw/" data-event-category="Footer" data-event-action="HelloYishi" data-event-label="https://helloyishi.com.tw/">
                                <div class="OO-qFWT" data-is-mobile="false">
                                    <img loading="lazy" class="country-flag" src="/image/cờ 1.webp" alt="Country Flag" data-event-category="Footer" data-event-action="HelloYishi" data-content-label="https://helloyishi.com.tw/">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copyright">
                <p data-size="xs" data-type="regular" class="wIj6fkD copyright-content">© 2023 Bản quyền các bài viết thuộc tập đoàn Hello Health Group. Các bài viết của Hello Bacsi chỉ có tính chất tham khảo, không thay thế cho việc chẩn đoán hoặc điều trị y khoa.</p>
            </div>
            <p data-size="xs" data-type="regular" class="wIj6fkD copyright-certificate" style="--custom-color: white;">Giấy xác nhận cung cấp dịch vụ mạng xã hội trực tuyến số 529/GP-BTTTT, HN ngày 03/12/2019</p>
        </div>
    </div>
</footer>
</div>
