
<div class="wrapper">
  <div  class="position-relative">
      <img src="https://bookingcare.vn/assets/anh/bookingcare_bg.jpg" alt="doingubacsi" class="img-fluid" style="width: 100%;height: 350px;">
      <div class="position-absolute translate-middle-y" style="top: 150px; left: 60px;">
          <h1 style="color: #fff;font-size: 44px;margin-bottom: 20px;text-transform: uppercase;text-shadow: 1px 1px 1px #333;">Telemidicine Connection</h1>
          <p style="    margin: 10px 0;font-size: 20px;color: #ddd;"> Xây dựng uy tín và thương hiệu online <br> Tăng số lượng bệnh nhân và quản lý hiệu quả.</p>
      </div>
  </div>
  <div class="container-xl text-center">
      <div class="row"  style="line-height: 28px;text-align: justify;margin-top: 20px;">
        <div class="col-4">
          <div class="card" style="width: 22rem;height: 30rem;;">
              <img src="https://cdn.bookingcare.vn/fr/w500/2023/08/05/091033-dau-hieu-tieu-duong-o-nam-gioi.png" class="card-img-top" alt="5+ dấu hiệu điển hình nhận biết bệnh tiểu đường ở nam giới">
              <div class="card-body" style="text-align: justify;">
                  <h5>5+ dấu hiệu điển hình nhận biết bệnh tiểu đường ở nam giới</h5>
                  <p class="card-text"> Một số dấu hiệu bệnh tiểu đường điển hình ở nam giới liên quan đến sức khỏe sinh sản như: rối loạn cương dương, xuất tinh ngược dòng, suy giảm testosterone,... Phái mạnh cần đi khám sớm và có biện pháp điều trị bệnh hiệu quả. </p>
              </div>
            </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 22rem;height: 30rem;">
              <img src="https://cdn.bookingcare.vn/fr/w500/2017/09/05/231104giao-tiep-bac-si-benh-nhan-2.jpg" class="card-img-top" alt="Giao tiếp giữa bác sĩ và bệnh nhân dưới góc nhìn truyền thông chánh niệm">
              <div class="card-body">
                <h5 class="card-title">Giao tiếp giữa bác sĩ và bệnh nhân dưới góc nhìn truyền thông chánh niệm</h5>
                <p class="card-text"> Bác sĩ lắng nghe một cách sâu sắc và giải thích một cách rõ ràng, dễ hiểu. Bệnh nhân giải thích vấn đề của mình một cách rõ ràng, mạch lạc. Lắng nghe, thấu hiểu những dặn dò của bác sĩ để hợp tác trong khám và điều trị đạt hiệu quả. </p>
              </div>
            </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 22rem;height: 30rem;">
              <img src="https://cdn.bookingcare.vn/fr/w500/2022/11/13/132939-10x-content-seo-y-te.png" class="card-img-top" alt="10X Content là gì? Cách xây dựng Content SEO Y tế theo 10X Content">
              <div class="card-body">
                <h5 class="card-title">10X Content là gì? Cách xây dựng Content SEO Y tế theo 10X Content</h5>
                <p class="card-text"> Sản xuất nội dung thực sự chất lượng theo 10X Content là cách bệnh viện, phòng khám có thể áp dụng để có được nội dung SEO y tế chất lượng, lên top Google. </p>
              </div>
            </div>
        </div>

        <div class="col-4" style="margin-top: 20px;">
          <div class="card" style="width: 22rem;height: 30rem;">
              <img src="https://cdn.bookingcare.vn/fr/w500/2022/11/13/132939-10x-content-seo-y-te.png" class="card-img-top" alt="10X Content là gì? Cách xây dựng Content SEO Y tế theo 10X Content">
              <div class="card-body">
                <h5 class="card-title">10X Content là gì? Cách xây dựng Content SEO Y tế theo 10X Content</h5>
                <p class="card-text"> Sản xuất nội dung thực sự chất lượng theo 10X Content là cách bệnh viện, phòng khám có thể áp dụng để có được nội dung SEO y tế chất lượng, lên top Google. </p>
              </div>
            </div>
        </div>

        <div class="col-4" style="margin-top: 20px;">
          <div class="card" style="width: 22rem;height: 30rem;">
              <img src="https://cdn.bookingcare.vn/fr/w500/2022/11/13/132939-10x-content-seo-y-te.png" class="card-img-top" alt="10X Content là gì? Cách xây dựng Content SEO Y tế theo 10X Content">
              <div class="card-body">
                <h5 class="card-title">10X Content là gì? Cách xây dựng Content SEO Y tế theo 10X Content</h5>
                <p class="card-text"> Sản xuất nội dung thực sự chất lượng theo 10X Content là cách bệnh viện, phòng khám có thể áp dụng để có được nội dung SEO y tế chất lượng, lên top Google. </p>
              </div>
            </div>
        </div>

        <div class="col-4" style="margin-top: 20px;">
          <div class="card" style="width: 22rem;height: 30rem;">
              <img src="https://cdn.bookingcare.vn/fr/w500/2022/11/13/132939-10x-content-seo-y-te.png" class="card-img-top" alt="10X Content là gì? Cách xây dựng Content SEO Y tế theo 10X Content">
              <div class="card-body">
                <h5 class="card-title">10X Content là gì? Cách xây dựng Content SEO Y tế theo 10X Content</h5>
                <p class="card-text"> Sản xuất nội dung thực sự chất lượng theo 10X Content là cách bệnh viện, phòng khám có thể áp dụng để có được nội dung SEO y tế chất lượng, lên top Google. </p>
              </div>
            </div>
        </div>
      </div>

      <button type="button" class="btn btn-outline-dark" style="margin-top: 50px;border-radius: 15px; display: inline-block; width: 120px;border: 1px solid #ddd;">Tiếp theo ></button>
  </div>
</div>
