@import 'mapbox-gl/dist/mapbox-gl.css';
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.header-menu-item {
    @apply cursor-pointer hover:text-gray-800 relative after:absolute after:-bottom-4 after:left-0 after:bg-slate-900 after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '../node_modules/font-awesome/css/font-awesome.css';
@import 'ngx-toastr/toastr';
